@CHARSET "UTF-8";
table{
	border: #000000 1px solid;
	width:500px;
	border-collapse: collapse;
}
table th{
	border: #000000 1px solid;
	padding:10px;
}
table td{
	border: #000000 1px solid;
	padding:10px;
	padding-left: 50px;
}
th a:LINK,a:VISITED{
	color:#8080c0;
	text-decoration: none;
}
th a:HOVER {
	color:blue;
}